
.heading {
    width: 600px;
    color: white;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    h2 {
    font-size: 2.6rem;
    margin: 10px 0;
    font-weight: 400;
    }

    span {
        color: #eb3380;
    }

    .arrow-right {
        margin-left: 10px;
        transition: all 0.3s ease;

        &:hover {
            transform: rotate(90deg);
        }

    }

    button {
        font-family: 'Raleway', sans-serif;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        padding: 15px 35px;
        font-size: 22px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            background-color: #04c2c9;
            border-color: #04c2c9;
        }
        &:hover .arrow-right {
            transform: rotate(90deg);
        }

        &:focus, :active{
            outline: none;
        }
    }

}



.hero {
    display: inline-block;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .diagonal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
  
  // creates randomized star sizes
  @function stars($n) {
    $value: '#{random(2000)}px #{random(2000)}px #767676';
    @for $i from 2 through $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px #767676';
    }
    @return unquote($value);
  }
  
  // store random stars
  $stars-small: stars(700);
  $stars-medium: stars(200);
  $stars-big: stars(100);
  
  
  .stars {
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 1s ease-in-out;
  }
  
  .stars > .small {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
    animation: starsAnimation 50s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $stars-small;
    }
  }
  
  .stars > .medium {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
    animation: starsAnimation 100s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $stars-medium;
    }
  }
  
  .stars > .big {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-big;
    border-radius: 100%;
    animation: starsAnimation 150s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $stars-big;
      border-radius: 100%;
    }
  }
  
  // swap from/to values to reverse animation
  @keyframes starsAnimation {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }

  @media (max-width: 630px) {
      .heading {
          width: 500px;

          h2 {
            font-size: 2.2rem;
          }

          button {
              font-size: 18px;
          }
      }
  }
  @media (max-width: 540px) {
      .heading {
          width: 420px;

          h2 {
            font-size: 2rem;
          }

          button {
              font-size: 16px;
              padding: 12px 30px;
              margin-top: 5px;
          }
      }
  }
  